# SPDX-License-Identifier: GPL-2.0-only
#
# core modules configuration
#

source "$(KCONFIG_EXT_MODULES_PREFIX)private/google-modules/perf/core/gs_perf_mon/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)private/google-modules/perf/core/gs_domain_idle/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)private/google-modules/perf/core/irm_devfreq/Kconfig"
source "$(KCONFIG_EXT_MODULES_PREFIX)private/google-modules/perf/core/lat_govs/Kconfig"

config GOOGLE_PM_QOS
	tristate "Google PM QOS"
	help
	  Enable support for Google PM QOS module
	  The driver provides interfaces to monitor which driver
	  is registering frequency votes against pm_qos domains.

config GOOGLE_VOTE_MANAGER
	tristate "Google Vote Manager"
	help
	  Enable support for Google Vote Manager module
	  The module expose sysf nodes for userland cpu/device
	  frequency voting
