# SPDX-License-Identifier: GPL-2.0

config SERIAL_8250_DW_GOOGLE_QUIRKS
	tristate "Support for Synopsys DesignWare 8250 quirks"
	depends on ARCH_GOOGLE
	depends on SERIAL_8250
	select SERIAL_8250_DWLIB
	help
	  Selecting this option will enable handling of the extra features
	  present in the Synopsys DesignWare APB UART.

