# private/google-modules/fingerprint/qcom/qfs4008/Kconfig
CONFIG_QCOM_QBT_HANDLER=m

# private/google-modules/misc/h2omg/Kconfig
CONFIG_GOOGLE_H2OMG=m

# private/google-modules/radio/samsung/s5400/Kconfig
CONFIG_CH_EXTENSION=m
CONFIG_CPIF_AP_SUSPEND_DURING_VOICE_CALL=y
CONFIG_CPIF_PAGE_RECYCLING=m
CONFIG_CPIF_TP_MONITOR=m
CONFIG_CP_PKTPROC=m
CONFIG_CP_PKTPROC_UL=m
CONFIG_CP_PMIC=m
CONFIG_CP_THERMAL=m
CONFIG_EXYNOS_MODEM_IF=m
CONFIG_LINK_DEVICE_PCIE=m
CONFIG_LINK_DEVICE_PCIE_IOCC=y
CONFIG_LINK_DEVICE_PCIE_IOMMU=y
CONFIG_LINK_DEVICE_PCIE_SOC_GOOGLE=y
CONFIG_MODEM_IF_QOS=m
CONFIG_SEC_MODEM_S5100=m
CONFIG_SHM_IPC=m

# private/google-modules/soc/gs/drivers/soc/google/gnssif_spi/Kconfig
CONFIG_EXYNOS_GNSS_IF_SPI_DMA_SAFE_BUFFER=y

# private/google-modules/soc/gs/drivers/soc/google/gsa/Kconfig
CONFIG_GSA_LOG_REGION_SIZE=0x1000
