# SPDX-License-Identifier: GPL-2.0-only
# AOSP repo hook
# https://android.googlesource.com/platform/tools/repohooks/

[Options]
ignore_merged_commits = true

[Builtin Hooks]
commit_msg_bug_field = true
commit_msg_test_field = true
# We do not run this check as it sometimes conflicts with Linux checkpatch.
clang_format = false

[Hook Scripts]
g3 lint = echo "${PREUPLOAD_FILES}" | sed "s/[^ ]*[.][ch]//g" | glint
