# SPDX-License-Identifier: GPL-2.0

config GOOGLE_DVFS_HELPER
	tristate "Google DVFS helper"
	depends on ARCH_GOOGLE
	help
	  This driver talks to the CPM during boot to read all the
	  DVFS information i.e. DVFS domain names and operating points.
	  It provides APIs for other drivers like cpufreq to query this
	  information.

config GOOGLE_GDMC_DHUB
	tristate "Google Debug and UART Hub driver"
	depends on GOOGLE_MBA_GDMC_INTERFACE
	help
	  Enable support for Google Debug and UART Hub (DHUB) driver.
	  DHUB multiplexes UART data for multiple subsystems into a
	  single packetized data stream between device and host.
	  The driver allows configuring this UART channels through its sysfs.
	  The host configures DHUB behaviour over the GDMC mailbox channel.
	  Select Y if you have such device.
	  If unsure select "N".

config GOOGLE_MBA_GDMC_INTERFACE_TEST
	tristate "Google GDMC mailbox interface test module"
	depends on GOOGLE_MBA_GDMC_INTERFACE
	help
	  Enable this module to test GDMC mailbox interface APIs.
	  GDMC interface provide a bunch of wrapped GDMC IPC calls to communicate
	  with GDMC remote host and notification interrupts initiated by GDMC
	  remote host. Enabling this driver helps to test all functions of this
	  interface.
	  Select Y if you have such device.
	  If unsure select "N".

config GOOGLE_LPM_PM_DOMAINS
	tristate "Google lpm-based genpd provider"
	depends on ARCH_GOOGLE
	help
	  This driver talks to the LPM registers directly, without
	  going through CPM. It can turn on/off subdomains, but it
	  cannot turn on/off the SSWRP-level top domains. This driver
	  is expected to be used on platforms where CPM is missing.

config GOOGLE_MBA_AGGREGATOR
	tristate "Google MBA service aggregator"
	help
	  Enable this module to help aggregating group same purpose of mbox_chan.
	  Google MBA aggregator module aggregates the request and response mailbox
	  channels of certain logical groups and expose interface APIs to upper
	  layers (abstracting the details of mailbox channels).
	  Examples of logical grouping are:
	    GDMC normal request and response mailbox channels
	    GDMC critical request and response mailbox channels
	  A logical grouping can have multiple request and multiple response channels.
	  Select Y if you have such device.
	  If unsure select "N".

config GOOGLE_MBA_GDMC_INTERFACE
	tristate "Google GDMC mailbox interface"
	depends on GOOGLE_MBA_AGGREGATOR
	help
	  Enable this module to enable GDMC mailbox interface APIs.
	  “GDMC interface” service module provides GDMC services APIs.
	  On the backend, it would use GDMC normal request and response mailbox channels
	  for normal GDMC requests; GDMC critical request and response mailbox channels
	  for critical GDMC requests.
	  This module provides GDMC mailbox services APIs to the client and route the
	  mailbox requests to available GDMC mailbox channels.
	  Select Y if you have such device.
	  If unsure select "N".

config GOOGLE_MBA_CPM_INTERFACE
       tristate "Google CPM mailbox interface"
       depends on MAILBOX
       help
         Enable this module to enable CPM mailbox interface APIs.
         “CPM interface” provides dual direction message transactions for request and respond.
         CPM interface would request to "request/response" mailbox channels for CPM message
         transactions.
         Client modules can register their callback to receive CPM initiated requests
         and respond through CPM interface with given token.
         Select Y if you have such device.
         If unsure select "N".

config GOOGLE_MBA_CPM_INTERFACE_TEST
       tristate "Google CPM mailbox interface test client"
       depends on GOOGLE_MBA_CPM_INTERFACE
       help
         Enable this module to create a client to export CPM mailbox interface APIs.
         CPM interface provides mailbox channels to communicate with CPM host without exported
	 APIs. This module will create debugfs to export some CPM functions to be trigger by
	 userspace to help integrating with testing framework.
         If unsure select "N".

config GOOGLE_CHIP_INFO
       tristate "Google chip info driver"
       help
	 Enable Google chip info driver to show OTP values.
	 This driver will read OTP values from SoC register to process and extract corresponding
	 field for post-si process and debugging.
         Select Y if you have such device.
         If unsure select "N".

config GOOGLE_RA
	tristate "Google RA PID driver"
	depends on ARCH_GOOGLE
	help
	  This enables client devices to set up the SID-to-PID mapping in the
	  Realm Allocator (RA).
	  The Partition ID (PID) can be used to control cache allocation in
	  the Google System Level Cache (GSLC).

config GOOGLE_RA_TEST_CLIENT
	tristate "Google RA mock client driver"
	depends on GOOGLE_RA
	help
	  A mock client driver to test the RA driver.
	  If unsure select "N"

config GOOGLE_GTC
	tristate "Google global time counter driver"
	depends on ARCH_GOOGLE
	help
	  Enable global time counter driver to support gtc-related functionalities.
	  It offers functions that utilize the GTC tick value to generate timestamps.
	  These timestamps can be used for various purposes like performance
	  measurement, event logging, and synchronization.

config GOOGLE_TIMESTAMP_SYNC
	tristate "Google timestamp synchronization driver"
	depends on ARCH_GOOGLE
	help
	  Enable support for the timestamp synchronization functionalities.
	  This driver captures timestamp snapshots, which include different
	  kinds of time format, to facilitate the timestamp correlation
	  infrastructure in other drivers or tools.

config PIXEL_DEBUG_KINFO
	tristate "Debug Kernel Information Support"
	default n
	help
	  Say m or y here to backup debugging kernel information.

config GS_DEBUG_TEST
	tristate "GS Debug Feature Test"
	depends on PIXEL_DEBUG_TEST
	default GOOGLE_CRASH_DEBUG_DUMP && PIXEL_DEBUG_TEST
	help
	  This can be tested for platform dependent errors. If you say y
	  you can confirm that the debug feature works and registers to
	  pixel_debug_test.

config POWER_STATE_BLOCKERS_SECTION
	tristate "SOC Power state blockers section"
	default n
	help
	  Enable Powerdashboard support for power state blockers section read.
	  It will enable additional sysfs nodes related to state blockers.
	  If unsure select "N".

source "$(KCONFIG_SOC_RDO_PREFIX)drivers/soc/google/cdd/Kconfig"
source "$(KCONFIG_SOC_RDO_PREFIX)drivers/soc/google/cdd-cpu/Kconfig"
source "$(KCONFIG_SOC_RDO_PREFIX)drivers/soc/google/debug/Kconfig"
source "$(KCONFIG_SOC_RDO_PREFIX)drivers/soc/google/vdu/Kconfig"
