// SPDX-License-Identifier: GPL-2.0-only
/*
 * camera lwis device tree for rango
 *
 * Copyright 2024 Google LLC.
 *
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/lwis/platform/laguna/tof.h>

&slg51002_ldo1 {
	regulator-min-microvolt = <2850000>;
	regulator-max-microvolt = <2850000>;
};

&slg51002_ldo2 {
	regulator-min-microvolt = <2850000>;
	regulator-max-microvolt = <2850000>;
};

&slg51002_ldo3 {
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
};

&slg51002_ldo4 {
	regulator-min-microvolt = <2850000>;
	regulator-max-microvolt = <2850000>;
};

&slg51002_ldo5 {
	regulator-min-microvolt = <2850000>;
	regulator-max-microvolt = <2850000>;
};

&slg51002_ldo6 {
	regulator-min-microvolt = <950000>;
	regulator-max-microvolt = <950000>;
};

&slg51002_ldo7 {
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
};

&slg51002_ldo8 {
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
};

/* REAR ULTRA WIDE IMENTET */
&sensor_mclk1_out {
	drive-strength = <2>;
};
&sensor_mclk1_fn {
	drive-strength = <2>;
};
/* REAR CAMERA BARGHEST */
&sensor_mclk2_out {
	drive-strength = <2>;
};
&sensor_mclk2_fn {
	drive-strength = <2>;
};
/* INNER FRONT CAMERA SVAROG */
&sensor_mclk3_out {
	drive-strength = <3>;
};
&sensor_mclk3_fn {
	drive-strength = <3>;
};
/* OUTER FRONT SVAROG */
&sensor_mclk5_out {
	drive-strength = <2>;
};
&sensor_mclk5_fn {
	drive-strength = <2>;
};
/* REAR TELE DOKKAEBI */
&sensor_mclk6_out {
	drive-strength = <2>;
};
&sensor_mclk6_fn {
	drive-strength = <2>;
};

&lsios_cli5_spi {
	google,spi-gpio-cs-with-cpol-high;

	tof0: tof@0 {
		status = "okay";
		compatible = "google,lwis-spi-device";

		/* SPI_CONFIG */
		reg = <0>;
		spi-max-frequency = <20000000>;
		spi-cpol;
		spi-cpha;

		/* Device node name */
		node-name = "tof-tarasque";

		/* Registers */
		reg-addr-bitwidth = <16>;
		reg-value-bitwidth = <8>;

		/* MCLK Control */
		/* LWIS DT parser explicitly requires mclk_on pinctrl */
		pinctrl-names = "default", "mclk_on", "mclk_off";
		pinctrl-0 = <&ldaf2aoc_irq_od_l_1v2>;
		pinctrl-1 = <&ldaf2aoc_irq_od_l_1v2>;
		pinctrl-2 = <>;

		irq-gpios = <LDAF2AOC_IRQ_OD_L_1V2(GPIO_ACTIVE_LOW)>;
		irq-gpios-names = "tof-irq";
		irq-gpios-events = <LWIS_PLATFORM_EVENT_ID_TOF_DATA_POLLING>;
		/* IRQF_ONESHOT | IRQF_TRIGGER_FALLING */
		irq-gpios-types = <0x2002>;

		/* Power supplies */
		/* VADD 3.3V */
		l27m-supply = <&ldo_27m_reg>;

		/* Power up sequence */
		power-up-seqs =
			"l27m",
			"mclk_on";
		power-up-seq-types =
			"regulator",
			"pinctrl";
		power-up-seq-delays-us =
			<0
			 0>;

		/* Power down sequence */
		power-down-seqs =
			"mclk_off",
			"l27m";
		power-down-seq-types =
			"pinctrl",
			"regulator";
		power-down-seq-delays-us =
			<0
			 0>;

		/* Thread priority */
		/* This is made to be lower than image sensor's thread */
		/* thread priority to allow uninterrupted image sensor */
		/* operation during periods of high CPU contention. */
		transaction-thread-priority = <100>;
	};
};

&lsios_cli1_i3c {
	/* Lwis placeholder for RCAM */
	barghest_placeholder_i3c: barghest_placeholder_i3c@0 {
		compatible = "google,lwis-placeholder";
		/* I2C */
		reg = <0x10 0x0 0x20>;
	};
	nessie_placeholder_i3c: nessie_placeholder_i3c@0 {
		compatible = "google,lwis-placeholder";
		/* I2C */
		reg = <0x24 0x0 0x20>;
	};
};

/* INNER FRONT CAMERA SVAROG */
&lsioe_cli8_i2c {
	i2c-sda-falling-time-ns = <125>;
	i2c-scl-falling-time-ns = <150>;
};
/* REAR ULTRA WIDE IMENTET */
&lsioe_cli13_i2c {
	i2c-sda-falling-time-ns = <125>;
	i2c-scl-falling-time-ns = <150>;
};

/ {
	fragment@lwiscamera {
		target-path = "/";
		__overlay__ {
			/* Power supplies will be defined on each module. */
			outer_front_camera_power_seq: module_power_seq@0 {
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* Sensor */
				/* VDDIO: ldo_22s_reg */
				/* VDIG: ldo_11s_reg */
				/* VDIG & VDDA ENABLE: slg51002_gpio4 */
				/* RESET: OUTER_FCAM_RST_L XLSIOS_CLI0_PIN3 */

				power-up-seqs =
					"pp3200_bb",
					"vio",
					"ldo11s",
					"gpio4",
					"reset",
					"mclk_on",
					"resume";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"pinctrl",
					"controller";
				power-up-seq-delays-us =
					<0
					 1000
					 0
					 1000
					 1000
					 1000
					 0>;

				power-down-seqs =
					"suspend",
					"mclk_off",
					"reset",
					"gpio4",
					"ldo11s",
					"vio",
					"pp3200_bb";
				power-down-seq-types =
					"controller",
					"pinctrl",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 0
					 1000
					 0
					 2000>;
			};

			inner_front_camera_power_seq: module_power_seq@1 {
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* Sensor */
				/* Sensor IOVDD: ldo_22s_reg */
				/* Sensor DVDD: ldo_12s_reg */
				/* Sensor AVDD: slg51002_gpio3 */
				/* RESET: AP2FCAM_RST_L -> XLSIOE_CLI8_PIN2 */

				power-up-seqs =
					"pp3200_bb",
					"vio",
					"gpio3",
					"ldo12s",
					"reset",
					"mclk_on",
					"resume";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"pinctrl",
					"controller";
				power-up-seq-delays-us =
					<1000
					 0
					 2000
					 0
					 1000
					 1000
					 0>;

				power-down-seqs =
					"suspend",
					"mclk_off",
					"reset",
					"ldo12s",
					"gpio3",
					"vio",
					"pp3200_bb";
				power-down-seq-types =
					"controller",
					"pinctrl",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 1000
					 1000
					 1000
					 2000>;
			};

			/* Power sequence for REAR MAIN CAMERA combo */
			rear_main_camera_power_seq: module_power_seq@2 {
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* PP1050_CAM    pp1050 */
				/* Sensor */
				/* PMIC RCAM VANA ENABLE: PMICS2CAM_MVBUCK_EN */
				/* Sensor IOVDD: ldo_22s_reg */
				/* AF/OIS Driver IC: slg51002_ldo1 */
				/* AF_VCM: slg51002_ldo2 */
				/* Sensor AVDD: slg51002_gpio1 */
				/* Sensor DVDD: slg51002_ldo8 */

				power-up-seqs =
					"pp3200_bb",
					"pp1050",
					"shared-vana_enable",
					"vio",
					"ldo1",
					"ldo2",
					"gpio1",
					"ldo8",
					"mclk_on",
					"resume";
				power-up-seq-types =
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pinctrl",
					"controller";
				power-up-seq-delays-us =
					<0
					 0
					 0
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 0>;

				power-down-seqs =
					"suspend",
					"mclk_off",
					"ldo8",
					"gpio1",
					"ldo2",
					"ldo1",
					"vio",
					"shared-vana_enable",
					"pp1050",
					"pp3200_bb";
				power-down-seq-types =
					"controller",
					"pinctrl",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 1000
					 1000
					 1000
					 0
					 1000
					 2000
					 2000>;
			};

			rear_uw_camera_power_seq: module_power_seq@3 {
				/* Common supplies */
				/* PP3200_BB_CAM     pp3200_bb */
				/* PP1050_CAM        pp1050 */
				/* Sensor */
				/* PMIC RCAM VANA ENABLE: PMICS2CAM_MVBUCK_EN */
				/* VDDIO: ldo_22s_reg */
				/* VDIG: slg51002_ldo6 */
				/* VDDA: slg51002_gpio2 */
				/* AF_VM: slg51002_ldo5 */

				power-up-seqs =
					"pp3200_bb",
					"pp1050",
					"shared-vana_enable",
					"vio",
					"ldo5",
					"gpio2",
					"ldo6",
					"mclk_on",
					"resume";
				power-up-seq-types =
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"pinctrl",
					"controller";
				power-up-seq-delays-us =
					<0
					 0
					 0
					 0
					 1000
					 1000
					 1000
					 10000
					 0>;

				power-down-seqs =
					"suspend",
					"mclk_off",
					"ldo6",
					"gpio2",
					"ldo5",
					"vio",
					"shared-vana_enable",
					"pp1050",
					"pp3200_bb";
				power-down-seq-types =
					"controller",
					"pinctrl",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 1000
					 0
					 0
					 1000
					 2000
					 2000>;
			};

			rear_tele_camera_power_seq: module_power_seq@4 {
				/* Common supplies */
				/* PP3200_BB_CAM     pp3200_bb */
				/* PP1050_CAM        pp1050 */
				/* Sensor */
				/* VDDIO: ldo_22s_reg */
				/* VDIG: slg51002_ldo7*/
				/* VDDA: slg51002_ldo3 */
				/* AF_OIS_AVDD: slg51002_ldo1 */
				/* AF_OIS_VM: slg51002_ldo4 */
				/* AF_OIS_RESRT: AP2RTCAM_AF_OIS_RST XLSIOS_PWM_2 */

				power-up-seqs =
					"pp3200_bb",
					"pp1050",
					"vio",
					"ldo1",
					"ldo4",
					"shared-reset",
					"ldo3",
					"ldo7",
					"mclk_on",
					"resume";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"pinctrl",
					"controller";
				power-up-seq-delays-us =
					<0
					 0
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 10000
					 0>;

				power-down-seqs =
					"suspend",
					"mclk_off",
					"ldo7",
					"ldo3",
					"shared-reset",
					"ldo4",
					"ldo1",
					"vio",
					"pp1050",
					"pp3200_bb";
				power-down-seq-types =
					"controller",
					"pinctrl",
					"regulator",
					"regulator",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<0
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 2000
					 2000>;
			};

			/* REAR CAMERA BARGHEST CSIB */
			sensor0: sensor@0 {
				compatible = "google,lwis-i3c-proxy-device";

				/* Device node name */
				node-name = "sensor-barghest";

				/* I2C */
				i2c-bus = <&lsios_cli1_i2c &lsios_cli1_i3c>;
				i2c-addr = <0x10>;
				/* I3C */
				i3c-enabled;
				i3c-dcr = <130>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* I2C OTP settings (reg, val) */
				i2c-otp-settings =
					<0xFCFC 0x4000
					 0x6010 0x0001>;
				i2c-otp-settle-time = <10000>;

				/* I3C OTP settings (reg, val) */
				i3c-otp-settings =
					<0xFCFC 0x4000
					 0x6012 0x0001
					 0x7002 0x1008
					 0x6066 0x0216
					 0x6068 0x08E8
					 0x6014 0x0001>;
				i3c-otp-settle-time = <10000>;

				/* I3C IBI */
				ibi-max-payload-len = <3>;
				ibi-num-slots = <8>;

				/* GPIOs */
				/* PMIC RCAM VANA ENABLE */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;
				/* AP2RCAM_RST_L -> XLSIOS_CLI1_PIN2 */
				reset-gpios =
					<AP2RCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo1-supply = <&slg51002_ldo1>; /* AF/OIS Driver IC */
				ldo2-supply = <&slg51002_ldo2>; /* VCM */
				gpio1-supply = <&slg51002_gpio1>; /* Sensor AVDD */
				ldo8-supply = <&slg51002_ldo8>; /* Sensor DVDD */

				clocks = <&lsios_mclk2_clk>;
				clock-names = "MCLK2";
				clock-rates = <24576000>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* resume sequence */
				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <10500>;

				/* suspend sequence */
				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Power up mode */
				lwis,power-up-to-suspend;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* INNER FRONT CAMERA SVAROG CSIC */
			sensor1: sensor@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-svarog";

				/* I2C */
				i2c-bus = <&lsioe_cli8_i2c>;
				i2c-addr = <0x10>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* I2C setting in kernel */
				lwis,i2c-otp;
				/* I2C OTP settings (reg, val) */
				i2c-otp-settings =
					<0xFCFC 0x4000
					 0x6000 0x0005
					 0x6010 0x0001>;
				i2c-otp-settle-time = <5000>;

				/* GPIOs */
				/* AP2FCAM_RST_L -> XLSIOE_CLI8_PIN2 */
				reset-gpios =
					<AP2FCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo12s-supply = <&ldo_12s_reg>; /* Sensor DVDD */
				gpio3-supply = <&slg51002_gpio3>; /* Sensor AVDD */

				clocks = <&lsios_mclk3_clk>;
				clock-names = "MCLK3";
				clock-rates = <24576000>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk3_fn>;
				pinctrl-1 = <&sensor_mclk3_out>;

				/* Power sequence */
				power-seq = <&inner_front_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <1>;
			};

			/* OUTER FRONT SVAROG CSIF */
			sensor2: sensor@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-svarog-outer";

				/* I2C */
				i2c-bus = <&lsios_cli0_i2c>;
				i2c-addr = <0x10>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* I2C setting in kernel */
				lwis,i2c-otp;
				/* I2C OTP settings (reg, val) */
				i2c-otp-settings =
					<0xFCFC 0x4000
					 0x6000 0x0005
					 0x6010 0x0001>;
				i2c-otp-settle-time = <5000>;

				/* GPIOs */
				/* OUTER_FCAM_RST_L -> XLSIOS_CLI0_PIN3 */
				reset-gpios = <OUTER_FCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				vio-supply = <&ldo_22s_reg>;
				ldo11s-supply = <&ldo_11s_reg>;
				gpio4-supply = <&slg51002_gpio4>;

				clocks = <&lsios_mclk5_clk>;
				clock-names = "MCLK5";
				clock-rates = <24576000>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk5_fn>;
				pinctrl-1 = <&sensor_mclk5_out>;

				/* Power sequence */
				power-seq = <&outer_front_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <2>;
			};

			/* REAR ULTRA WIDE IMENTET CSIA */
			sensor3: sensor@3 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-imentet";

				/* I2C */
				i2c-bus = <&lsioe_cli13_i2c>;
				i2c-addr = <0x2D>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* GPIOs */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;
				/* AP2RUWCAM_RST_L -> XLSIOE_CLI13_PIN2 */
				reset-gpios = <AP2RUWCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo6-supply = <&slg51002_ldo6>;
				gpio2-supply = <&slg51002_gpio2>;
				ldo5-supply = <&slg51002_ldo5>;

				clocks = <&lsios_mclk1_clk>;
				clock-names = "MCLK1";
				clock-rates = <24576000>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk1_fn>;
				pinctrl-1 = <&sensor_mclk1_out>;

				power-seq = <&rear_uw_camera_power_seq>;

				lwis,power-up-to-suspend;

				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <5000>;

				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};

			/* REAR TELE DOKKAEBI CSIE */
			sensor4: sensor@4 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-dokkaebi-tele";

				/* I2C */
				i2c-bus = <&lsios_cli3_i2c>;
				i2c-addr = <0x10>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* GPIOs */
				/* AP2RTCAM_RST_L -> XLSIOS_CLI3_PIN2 */
				reset-gpios = <AP2RTCAM_RST_L(GPIO_ACTIVE_HIGH)>;
				/* AP2RTCAM_AF_OIS_RST -> XLSIOS_PWM_2 */
				shared-reset-gpios = <AP2RTCAM_AF_OIS_RST(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo7-supply = <&slg51002_ldo7>;
				ldo3-supply = <&slg51002_ldo3>;
				ldo1-supply = <&slg51002_ldo1>;
				ldo4-supply = <&slg51002_ldo4>;

				clocks = <&lsios_mclk6_clk>;
				clock-names = "MCLK6";
				clock-rates = <24576000>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk6_fn>;
				pinctrl-1 = <&sensor_mclk6_out>;

				power-seq = <&rear_tele_camera_power_seq>;

				lwis,power-up-to-suspend;

				resume-seqs = "reset";
				resume-seq-types = "gpio";
				resume-seq-delays-us = <2000>;

				suspend-seqs = "reset";
				suspend-seq-types = "gpio";
				suspend-seq-delays-us = <1000>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <4>;
			};

			/* Actuator NESSIE for BARGHEST */
			actuator0: actuator@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-nessie";

				/* I2C */
				i2c-bus = <&lsios_cli1_i2c &lsios_cli1_i3c>;
				i2c-addr = <0x24>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* PMIC RCAM VANA ENABLE */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo1-supply = <&slg51002_ldo1>; /* AF/OIS Driver IC */
				ldo2-supply = <&slg51002_ldo2>; /* VCM */
				gpio1-supply = <&slg51002_gpio1>; /* Sensor AVDD */
				ldo8-supply = <&slg51002_ldo8>; /* Sensor DVDD */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* Actuator CORNERFOLK for IMENTET-UW */
			actuator1: actuator@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-cornerfolk-imentet-uw";

				/* I2C */
				i2c-bus = <&lsioe_cli13_i2c>;
				i2c-addr = <0xC>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo6-supply = <&slg51002_ldo6>;
				gpio2-supply = <&slg51002_gpio2>;
				ldo5-supply = <&slg51002_ldo5>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk1_fn>;
				pinctrl-1 = <&sensor_mclk1_out>;

				/* Power sequence */
				power-seq = <&rear_uw_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};

			/* OIS NESSIE for BARGHEST */
			ois0: ois@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "ois-nessie";

				/* I2C */
				i2c-bus = <&lsios_cli1_i2c &lsios_cli1_i3c>;
				i2c-addr = <0x24>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* PMIC RCAM VANA ENABLE */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo1-supply = <&slg51002_ldo1>; /* AF/OIS Driver IC */
				ldo2-supply = <&slg51002_ldo2>; /* VCM */
				gpio1-supply = <&slg51002_gpio1>; /* Sensor AVDD */
				ldo8-supply = <&slg51002_ldo8>; /* Sensor DVDD */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* OIS HUMBABA for DOKKAEBI-TELE */
			ois1: ois@1  {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "ois-humbaba";

				/* I2C */
				i2c-bus = <&lsios_cli3_i2c>;
				i2c-addr = <0x61>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* AP2RTCAM_AF_OIS_RST -> XLSIOS_PWM_2 */
				shared-reset-gpios = <AP2RTCAM_AF_OIS_RST(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo7-supply = <&slg51002_ldo7>;
				ldo3-supply = <&slg51002_ldo3>;
				ldo1-supply = <&slg51002_ldo1>;
				ldo4-supply = <&slg51002_ldo4>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk6_fn>;
				pinctrl-1 = <&sensor_mclk6_out>;

				/* Power sequence */
				power-seq = <&rear_tele_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <4>;
			};

			/* EEPROM NESSIE for BARGHEST */
			eeprom0: eeprom@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-nessie";

				/* I2C */
				i2c-bus = <&lsios_cli1_i2c &lsios_cli1_i3c>;
				i2c-addr = <0x24>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* PMIC RCAM VANA ENABLE */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo1-supply = <&slg51002_ldo1>; /* AF/OIS Driver IC */
				ldo2-supply = <&slg51002_ldo2>; /* VCM */
				gpio1-supply = <&slg51002_gpio1>; /* Sensor AVDD */
				ldo8-supply = <&slg51002_ldo8>; /* Sensor DVDD */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				i2c-lock-group-id = <0>;
			};

			/* EEPROM for INNER FRONT CAMERA */
			eeprom1: eeprom@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-svarog";

				/* I2C */
				i2c-bus = <&lsioe_cli8_i2c>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* AP2FCAM_RST_L -> XLSIOE_CLI8_PIN2 */
				reset-gpios =
					<AP2FCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				vio-supply = <&ldo_22s_reg>; /* Sensor IOVDD */
				ldo12s-supply = <&ldo_12s_reg>; /* Sensor DVDD */
				gpio3-supply = <&slg51002_gpio3>; /* Sensor AVDD */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk3_fn>;
				pinctrl-1 = <&sensor_mclk3_out>;

				/* Power sequence */
				power-seq = <&inner_front_camera_power_seq>;

				i2c-lock-group-id = <1>;
			};

			/* EEPROM SMAUG for SVAROG-OUTER */
			eeprom2: eeprom@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-svarog-outer";

				/* I2C */
				i2c-bus = <&lsios_cli0_i2c>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* OUTER_FCAM_RST_L ->  XLSIOS_CLI0_PIN3 */
				reset-gpios = <OUTER_FCAM_RST_L(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				vio-supply = <&ldo_22s_reg>;
				ldo11s-supply = <&ldo_11s_reg>;
				gpio4-supply = <&slg51002_gpio4>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk5_fn>;
				pinctrl-1 = <&sensor_mclk5_out>;

				/* Power sequence */
				power-seq = <&outer_front_camera_power_seq>;

				i2c-lock-group-id = <2>;
			};

			/* EEPROM SMAUG for IMENTET-UW */
			eeprom3: eeprom@3 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-imentet-uw";

				/* I2C */
				i2c-bus = <&lsioe_cli13_i2c>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				shared-vana_enable-gpios =
					<PMICS2CAM_MVBUCK_EN(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo6-supply = <&slg51002_ldo6>;
				gpio2-supply = <&slg51002_gpio2>;
				ldo5-supply = <&slg51002_ldo5>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk1_fn>;
				pinctrl-1 = <&sensor_mclk1_out>;

				/* Power sequence */
				power-seq = <&rear_uw_camera_power_seq>;

				i2c-lock-group-id = <3>;
			};

			/* EEPROM HUMBABA for DOKKAEBI-TELE */
			eeprom4: eeprom@4 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-humbaba";

				/* I2C */
				i2c-bus = <&lsios_cli3_i2c>;
				i2c-addr = <0x61>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* AP2RTCAM_AF_OIS_RST -> XLSIOS_PWM_2 */
				shared-reset-gpios = <AP2RTCAM_AF_OIS_RST(GPIO_ACTIVE_HIGH)>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1050-supply = <&cam_pp1050>;
				vio-supply = <&ldo_22s_reg>;
				ldo7-supply = <&slg51002_ldo7>;
				ldo3-supply = <&slg51002_ldo3>;
				ldo1-supply = <&slg51002_ldo1>;
				ldo4-supply = <&slg51002_ldo4>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk6_fn>;
				pinctrl-1 = <&sensor_mclk6_out>;

				/* Power sequence */
				power-seq = <&rear_tele_camera_power_seq>;

				i2c-lock-group-id = <4>;
			};

			flash0: flash@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "flash-lm3644";

				/* I2C */
				i2c-bus = <&lsioe_cli7_i2c>;
				i2c-addr = <0x63>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* AP2FLASH_EN -> XLSIOS_CLI3_PIN3 */
				enable-gpios =
					<AP2FLASH_EN(GPIO_ACTIVE_HIGH)>;

				power-up-seqs = "enable";
				power-up-seq-types = "gpio";
				power-up-seq-delays-us = <0>;

				power-down-seqs = "enable";
				power-down-seq-types = "gpio";
				power-down-seq-delays-us = <0>;
			};
		};
	};
};
