// SPDX-License-Identifier: GPL-2.0-only

#include <dt-bindings/gpio/gpio.h>

&lsioe_cli14_i2c {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <400000>;
	s2dos07x02: s2dos07x02@60 {
		compatible = "samsung,s2dos07x02";
		reg = <0x60>;
		status = "okay";
		regulator-name = "s2dos07x02-pmic";
	};
};

&gs_dsi0_connector {
	google,preferred-panel = <&google_gs_mtea>;

	google_gs_mtea: panel-gs-mtea {
		compatible = "google,gs-mtea";
		label = "google-mtea";
		channel = <0>;
		allowed-hs-clks = <1368 1346>;

		/* reset, power */
		reset-gpios = <PMICS2DISP0_RESET_L(GPIO_ACTIVE_HIGH)>;
		tout-gpios = <DISP0_2_AP_PROX0_TOUT(GPIO_ACTIVE_HIGH)>;
		vci-supply = <&ldo_18s_reg>;
		vddi-supply = <&buck_12s_reg>;
		vddd-supply = <&s2dos07x02>;
		vddd-normal-microvolt = <887500>;
		vddd-lp-microvolt     = <862500>;

		/* touch */
		touch = <&spitouch>;
	};
};

&dsi2h0 {
	datarate = <1368>;
};
