# SPDX-License-Identifier: GPL-2.0-only
#
# Configurations for Tick Driven Memory
# Latency Governors.
#

config GS_MEMLAT_GOVERNOR
	tristate "Google MEMSS/GMC Latency Governor"
	depends on GS_PERF_MON
	depends on GOOGLE_PM_QOS
	default n
	help
	  The Google memlat governors provides DVFS frequency votes for the
	  memory fabric subsystem. The governors only compute target frequencies
	  for the MEMSS, and GMCs then submits the votes via the Google PM QOS
	  system for vote processing.

config GS_DSULAT_GOVERNOR
        tristate "Google DSU Latency Governor"
        depends on GS_PERF_MON
        depends on GOOGLE_PM_QOS
        default n
        help
          The Google dsulat governors provides DVFS frequency votes for the
          DSU cache. The governors only compute target frequencies for the DSU,
          then submits the votes via the Google PM QOS system for vote processing.
