CONFIG_CHARGER_MAX77729=m
CONFIG_CHARGER_MAX77759=m
CONFIG_CHARGER_MAX77779=m
CONFIG_CHARGER_MAX77779_I2C=y
CONFIG_CHARGER_P9221=m
CONFIG_CHARGER_RT9471=m
CONFIG_FG_MAX77779=m
CONFIG_FG_MAX77779_I2C=y
CONFIG_FWUPDATE_MAX77779=m
CONFIG_GOOGLE_BATTERY=m
CONFIG_GOOGLE_BEE=m
CONFIG_GOOGLE_BMS=y
CONFIG_GOOGLE_CCD=m
CONFIG_GOOGLE_CHARGER=m
CONFIG_GOOGLE_CPM=m
CONFIG_GOOGLE_DOCK=m
CONFIG_GOOGLE_DUAL_BATT_GAUGE=m
CONFIG_GOOGLE_WLC=m
CONFIG_HL7132=m
CONFIG_LN8411=m
CONFIG_MAX20339=m
CONFIG_MAX77779_I2CM=m
CONFIG_MAX77779_I2CM_I2C=y
CONFIG_MAX77779_PMIC=m
CONFIG_MAX77779_PMIC_I2C=y
CONFIG_MAX77779_PMIC_IRQ=m
CONFIG_MAX77779_PMIC_PINCTRL=m
CONFIG_MAX77779_PMIC_SGPIO=m
CONFIG_MAX77779_SP=m
CONFIG_MAX77779_SP_I2C=y
CONFIG_MAXQ_MAX77759=m
CONFIG_MAX_M5=y
CONFIG_PCA9468=m
CONFIG_PMIC_MAX77729=m
CONFIG_REGULATOR_LN8282=m
CONFIG_UIC_MAX77729=m
CONFIG_USB_OVERHEAT_MITIGATION=m
CONFIG_VIMON_MAX77779=m
CONFIG_VIMON_MAX77779_I2C=y
